<div class="container">
  <div class="row pl-5">
    <h4 class="bg-light">配送先編集</h4>
  </div>
  <div class="row">
    <%= form_with model:@address, url:address_path(@address.id), local:true do |f| %>
      <%= render 'public/shared/address_form', f: f %>
      <div class="col-9 offset-9 text-right mt-3">
        <%= f.submit "変更内容を保存", class: 'btn btn-success px-4' %>
      </div>
    <% end %>
  </div>
</div>