<div class="container">
  <div class="row">
    <div>
      <div>ジャンル検索</div>
      <% @genres.each do |genre| %>
        <div><%= genre.name %></div>
      <% end %>
    </div>
    <div>
      <h2>商品一覧</h2>
      <div></div>
      <div></div>
      <%= paginate @items %>
    </div>
  </div>
</div>