<div class="container px-5">
  <div class="row">
    <div class="col-md-2 px-2">
      <%= render 'public/shared/genre_search', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h2>商品一覧</h2>
      <div class="d-flex flex-wrap">
        <%= render 'public/shared/item_index', items: @items %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>